<template>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-4">
        <form
          class="form"
          @submit.prevent>
          <h3 class="subtitle">Login</h3>
          <b-field>
            <b-input
              v-model="user.email"
              type="email"
              placeholder="Email" />
          </b-field>
          <b-field>
            <b-input
              v-model="user.password"
              type="password"
              placeholder="Password"
              password-reveal />
          </b-field>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <nuxt-link
                to="/signup"
                class="button is-light">
                Signup
              </nuxt-link>
            </p>
            <p class="control">
              <button
                class="button is-primary"
                @click="login"
                @keyup.enter="login">
                Login
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  auth: false,
  data: () => ({ user: {} }),
  methods: {
    async login () {
      const user = this.user
      try {
        await this.$auth.loginWith('local', { data: user })
        await this.$store.dispatch('fetchMonitors')
        this.$router.push({ name: 'monitors' })
      } catch (error) {
        this.$dialog.alert({
          title: 'Error',
          message: 'Incorrect email or password',
          type: 'is-danger'
        })
      }
    }
  }
}
</script>
