<template>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-4">
        <form
          class="form"
          @submit.prevent>
          <h3 class="subtitle">Signup</h3>
          <div class="field is-horizontal">
            <div class="field-body">
              <b-field>
                <b-input
                  v-model="user.firstname"
                  placeholder="First Name" />
              </b-field>
              <b-field>
                <b-input
                  v-model="user.lastname"
                  placeholder="Last Name" />
              </b-field>
            </div>
          </div>
          <b-field>
            <b-input
              v-model="user.email"
              type="email"
              placeholder="Email" />
          </b-field>
          <b-field>
            <b-input
              v-model="user.password"
              type="password"
              placeholder="Password"
              password-reveal />
          </b-field>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <nuxt-link
                to="/login"
                class="button is-light">
                Login
              </nuxt-link>
            </p>
            <p class="control">
              <button
                class="button is-primary"
                @click="signup"
                @keyup.enter="signup">
                Signup
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  auth: false,
  data: () => ({ user: {} }),
  methods: {
    async signup () {
      const user = this.user
      try {
        const { data: { token } } = await this.$axios.post('/api/auth/signup', user)
        await this.$auth.loginWith('local', { data: user })
        await this.$store.dispatch('fetchMonitors')
        this.$router.push({ name: 'monitors' })
      } catch (error) {
        this.$dialog.alert({
          title: 'Error',
          message: error.message,
          type: 'is-danger'
        })
      }
    }
  }
}
</script>
