<template>
  <div>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="/">
          <img
            src="~assets/buefy.png"
            alt="Buefy"
            height="28">
        </a>

        <div class="navbar-burger">
          <span/>
          <span/>
          <span/>
        </div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <nuxt-link
            to="/"
            class="navbar-item">
            Home
          </nuxt-link>
          <nuxt-link
            v-if="$store.state.auth.loggedIn"
            :to="{ name: 'monitors' }"
            class="navbar-item">
            Monitors
          </nuxt-link>
        </div>

        <div class="navbar-end">
          <nuxt-link
            v-if="!$store.state.auth.loggedIn"
            :to="{ name: 'login' }"
            class="navbar-item">
            Login
          </nuxt-link>
          <div
            v-if="$store.state.auth.loggedIn"
            class="navbar-item">
            <nuxt-link
              :to="{name: 'monitors-create'}"
              class="button is-primary">
              Create Monitor
            </nuxt-link>
          </div>
          <div
            v-if="$store.state.auth.loggedIn"
            class="navbar-item">
            <button
              class="button is-light"
              @click="logout"
              @keyup.enter="logout">
              Logout
            </button>
          </div>
        </div>
      </div>
    </nav>
    <nuxt />
  </div>
</template>

<script>
export default {
  methods: {
    async logout () {
      await this.$auth.logout()
    }
  }
}
</script>
