<template>
  <section class="section">
    <div class="columns is-centered">
      <div
        v-if="monitor"
        class="column is-4">
        <h3 class="subtitle">Edit {{ monitor.name }} Monitor</h3>
        <hr>
        <form
          class="form box"
          @submit.prevent>
          <b-field label="Monitor Name">
            <b-input
              v-model="monitor.name"
              placeholder="Name"
              required />
          </b-field>
          <b-field label="Server URL">
            <b-input
              v-model="monitor.url"
              placeholder="Server URL"
              required />
          </b-field>
          <b-field label="Monitor Type">
            <b-select
              v-model="monitor.type"
              placeholder="Select a type"
              expanded
              required>
              <option value="graphql">GraphQL Query</option>
              <option value="http">HTTP</option>
            </b-select>
          </b-field>
          <b-field
            v-if="monitor.type === 'graphql'"
            label="GQL Query">
            <b-input
              v-model="monitor.query"
              type="textarea"
              placeholder="Paste your formatted GraphQL query here" />
          </b-field>
          <br>
          <div class="field is-grouped is-grouped-right">
            <p class="control is-expanded">
              <b-switch
                v-model="monitor['is_active']"
                :value="true"
                type="is-success">
                Active
              </b-switch>
            </p>
            <p class="control">
              <button
                class="button is-danger"
                @click="deleteMonitor"
                @keyup.enter="deleteMonitor">
                Delete
              </button>
            </p>
            <p class="control">
              <button
                class="button is-success"
                @click="checkInput"
                @keyup.enter="checkInput">
                Save
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import isUrl from 'is-url'
import gql from 'graphql-tag'
export default {
  data: () => ({ monitor: {} }),
  created () { this.monitor = this.$store.state.monitors.find(monitor => monitor.id === this.$route.params.edit) },
  methods: {
    async checkInput () {
      const monitor = this.monitor
      try {
        await this.isUrlCheck(monitor.url)
        await this.isQueryCheck(monitor.query)
        this.editMonitor(monitor)
      } catch (error) {
        this.$toast.open({
          duration: 4000,
          message: error,
          position: 'is-bottom',
          type: 'is-danger'
        })
      }
    },
    isUrlCheck: (url) => new Promise((resolve, reject) => {
      if (isUrl(url)) resolve()
      else reject('Not a valid URL')
    }),
    isQueryCheck: (query) => new Promise((resolve, reject) => {
      try {
        const GQLQuery = gql`${query}`
        resolve(GQLQuery)
      } catch (error) {
        reject('Not a valid GraphQL Query')
      }
    }),
    editMonitor (monitor, query) {
      this.$axios.put(`/api/monitors/${monitor.id}`, monitor)
        .then(() => this.$toast.open('Saved Monitor!'))
        // .then(() => this.$store.dispatch('saveMonitor', this.monitor))
        .then(() => this.$router.push({ name: 'monitors' }))
        .catch(({ message }) => {
          this.$toast.open({
            duration: 4000,
            message,
            position: 'is-bottom',
            type: 'is-danger'
          })
      })
    },
    deleteMonitor () {
      this.$dialog.confirm({
        title: 'Deleting monitor',
        message: 'Are you sure you want to <b>delete</b> this monitor? This action cannot be undone.',
        confirmText: 'Delete Monitor',
        type: 'is-danger',
        onConfirm: () => {
          this.$axios.delete(`/api/monitors/${this.monitor.id}`)
          .then(() => {
            this.$toast.open({
              duration: 4000,
              message: 'Monitor Deleted',
              position: 'is-bottom',
              type: 'is-danger'
            })
          })
          .then(() => this.$store.dispatch('removeMonitor', this.monitor.id))
          .then(() => this.$router.push({ name: 'monitors' })).catch((error) => {
            this.$toast.open({
              duration: 4000,
              message: error,
              position: 'is-bottom',
              type: 'is-danger'
            })
          })
        }
      })
    }
  }
}
</script>
