<template>
  <section class="section">
    <h3 class="subtitle">
      {{ monitor.name }} Monitor
      <b-tag :type="isActive(monitor)"><span class="has-text-weight-bold">Current Status</span></b-tag>
    </h3>
    <hr>
    <br>
    <p class="has-text-weight-bold">{{ uptime }}% Uptime</p>
    <br>
    <ul>
      <li
        v-for="check in monitor.checks"
        :key="check.id">
        {{ check.status }} - {{ check['created_at'] }}
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  computed: {
    monitor () {
      return this.$store.state.monitors.find(monitor => monitor.id === this.$route.params.id)
    },
    uptime () {
      const totalChecks = this.monitor.checks.length
      const totalChecksDown = this.monitor.checks.filter(check => check.status === 'down').length
      const totalDownTime = (totalChecksDown / totalChecks) * 100
      return Math.ceil((100 - totalDownTime) / 10) * 10
    }
  },
  methods: {
    isActive () { return this.monitor['is_active'] ? 'is-success' : 'is-warning' }
  }
}
</script>
