<template>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-4">
        <h3 class="subtitle">Create Monitor</h3>
        <hr>
        <form
          class="form box"
          @submit.prevent>
          <b-field label="Monitor Name">
            <b-input
              v-model="monitor.name"
              placeholder="Name"
              required />
          </b-field>
          <b-field label="Server URL">
            <b-input
              v-model="monitor.url"
              placeholder="Server URL"
              required />
          </b-field>
          <b-field label="Monitor Type">
            <b-select
              v-model="monitor.type"
              placeholder="Select a type"
              expanded
              required>
              <option value="graphql">GraphQL Query</option>
              <option value="http">HTTP</option>
            </b-select>
          </b-field>
          <b-field
            v-if="monitor.type === 'graphql'"
            label="GQL Query">
            <b-input
              v-model="monitor.query"
              type="textarea"
              placeholder="Paste your formatted GraphQL query here" />
          </b-field>
          <br>
          <div class="field is-grouped is-grouped-right">
            <p class="control is-expanded">
              <b-switch
                v-model="monitor['is_active']"
                :value="true"
                type="is-success">
                Active
              </b-switch>
            </p>
            <p class="control">
              <button
                class="button is-success"
                @click="checkInput"
                @keyup.enter="checkInput">
                Create
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import isUrl from 'is-url'
import gql from 'graphql-tag'
export default {
  data: () => ({
    monitor: { 'is_active': true }
  }),
  methods: {
    async checkInput () {
      const monitor = this.monitor
      try {
        await this.isUrlCheck(monitor.url)
        await this.isQueryCheck(monitor.query)
        this.createMonitor(monitor)
      } catch (error) {
        this.$toast.open({
          duration: 4000,
          message: error,
          position: 'is-bottom',
          type: 'is-danger'
        })
      }
    },
    isUrlCheck: (url) => new Promise((resolve, reject) => {
      if (isUrl(url)) resolve()
      else reject('Not a valid URL')
    }),
    isQueryCheck: (query) => new Promise((resolve, reject) => {
      try {
        const GQLQuery = gql`${query}`
        resolve(GQLQuery)
      } catch (error) {
        reject('Not a valid GraphQL Query')
      }
    }),
    createMonitor (monitor) {
      this.$axios.post('/api/monitors', monitor)
        .then(({ data }) => this.$store.dispatch('createMonitor', data))
        .then(() => this.$toast.open('Created Monitor!'))
        .then(() => this.$router.push({ name: 'monitors' }))
        .catch(({ message }) => {
          this.$toast.open({
            duration: 4000,
            message,
            position: 'is-bottom',
            type: 'is-danger'
          })
      })
    }
  }
}
</script>
