<template>
  <section class="section">
    <h3 class="title">Monitors</h3>
    <hr>
    <div
      v-if="monitors.length"
      class="columns">
      <div
        v-for="(monitor, i) of monitors"
        :key="i"
        class="column is-3">
        <div class="card">
          <header class="card-header">
            <div class="card-header-title has-text-grey">
              {{ monitor.name }}
              <div class="control active-badge">
                <b-taglist attached>
                  <b-tag type="is-dark">Active</b-tag>
                  <b-tag :type="isActive(monitor)" />
                </b-taglist>
              </div>
            </div>
          </header>
          <div class="card-content">
            <div class="content has-text-centered">
              {{ monitor.type }}
            </div>
          </div>
          <footer class="card-footer">
            <nuxt-link
              :to="{ name: 'monitors-edit', params: { edit: monitor.id }}"
              class="card-footer-item">
              Edit
            </nuxt-link>
            <nuxt-link
              :to="{ name: 'monitors-id', params: { id: monitor.id }}"
              class="card-footer-item">
              View
            </nuxt-link>
          </footer>
        </div>
      </div>
    </div>
    <div v-else>
      <h3 class="subtitle">Hmm, doesn't seem if you have any monitors...yet.</h3>
      <nuxt-link
        :to="{ name: 'monitors-create' }"
        class="is-button button is-dark is-outlined">
        Create Monitor
      </nuxt-link>
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    monitors () { return this.$store.state.monitors }
  },
  methods: {
    isActive (monitor) { return monitor['is_active'] ? 'is-success' : 'is-warning' }
  }
}
</script>

<style scoped>
.active-badge {
  margin-left: 1rem;
}
</style>
